<h1>About Us</h1>
<p id="ArticleParagraph" class="mt-3"> David Stralak: I am in my 2nd year of the CPA course and i also play for the varsity rugby team here 
    at durham. I hope to come back to durham after this program to continue my studies but having a focus on cyber security. My resume can be found here at 
    <a href="https://my.indeed.com/p/davids-fel56a5">David's resume</a> 
    </p>
<img src="Images/DavidStralak.jpg" alt="David's Headshot"/>