<h1>Our Products</h1>
<p id="ArticleParagraph" class="mt-3"> 
    One of our Favourite projects were the linux labs,  when doing the labs they were extremely 
    interesting to places that you could get to with knowing the right structure. 
    Another Project that was really interesting was the 1st Mainframe assignment, it was really cool
    to work in a older system and still see used today in different bussiness.
    Lastly, a project I really enjoyed was the Java class creation project from OOP 2. 
    It's fun to make classes in Java.</p>
    <img src="../../../Images/project1.PNG" alt="project show case 1">
    <img src="../../../Images/project3.PNG" alt="project showcase 2">
    <img src="../../../Images/LinuxLab3.6.PNG" alt="project show case 3">

