<h1>Our Services</h1>
<p id="ArticleParagraph" class="mt-3"> David Stralak: My skills inculde the ability to learn things quckly as i get understanding of concepts quickly.
    I also have a wide range of skill in all levels of programming from OOP to Web development to System development. My three Strongest skills are Document analysis,
    Custom programming with most of my knowledge being in C++, Java, and C#, the thrid skill is Web Design. </p>
    <img src="../../../Images/skillshow1.PNG" alt="">
    <img src="../../../Images/skillshow2.PNG" alt="">
    <img src="../../../Images/skillshow3.PNG" alt="">